 <ul class="nav navbar-nav pull-left">
    <li></li>
 </ul>

 <ul class="nav navbar-nav pull-right">
    <li> <%= link_to "Logga ut", destroy_user_session_path, :method => :delete, :class => "btn btn-default navbar-btn special-navbar-btn" %> </li>
 </ul>

	

